<div id="task_ol">
  <div class="title">
    <div>№</div>
    <div>Title</div>
    <div>Description</div>
  </div>
  <div>
    <ol class="sortable">
      <% @tasks.each do |task| %>
          <li class="line" id="task_<%= task.id %>">
            <div><%= task.title %></div>
            <div><%= task.description %></div>
            <div class="v"><%= link_to image_tag("srch_24.png"), task %></div>
            <div class="v"><%= link_to image_tag("tools_24.png"), edit_task_path(task) %></div>
            <div class="v"><%= link_to image_tag("trash_24.png"), task, method: :delete, data: {confirm: 'Are you sure?'}, :remote => true %></div>
          </li>
      <% end %>
    </ol>
  </div>
</div>

<script>
    $(function() {
        $(".sortable").sortable({
            update: function(event, ui) {
                var str = $(this).sortable('serialize');
                <% if params[:category_id] %>
                str = str + "&category_id=<%= params[:category_id]%>";
                <% end %>
                console.log(str);
                $.ajax({
                    url: '<%= tasks_orders_path %>',
                    data: str
                });
            }
        })
    });
</script>
