<ul class="sortable">
<% @categories.each_with_index do |category, index| %>
  <li class="line" id="category_<%= category.id %>">
      <div><%= index + 1%></div>
      <div><%= link_to category.name, tasks_path(:category_id => category) %></div>
      <div class="v"><%= link_to image_tag("srch_24.png"), category %></div>
      <div class="v"><%= link_to image_tag("tools_24.png"), edit_category_path(category) %></div>
      <div class="v"><%= link_to image_tag("trash_24.png"), category, method: :delete, data: {confirm: 'Are you sure?'}, :remote => true %></div>
  </li>
<% end %>
</ul>

<script>
    $('.sortable').sortable();
</script>