<!DOCTYPE html>
<html>
<head>
  <title>List</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="main">

  <% if current_user %>
      <div class="login_statys">
        Login: <%= current_user.email %>
        <%= link_to 'Log Out', '/logout' %>
      </div>
      <div>
        <ul id="topmenu">
          <li><a href="/categories/">Gategories</a></li>
          <li><a href="/tasks/">Tasks</a></li>
        </ul>
      </div>
  <% end %>

  <div class='login'>
    <%= yield %>
  </div>

</div>
</body>
</html>
