<!DOCTYPE html>
<html>
<head>
  <title>Hello! This is start page</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="main">
  <div class="textmenu">
    <%= render "new_session" %>
  </div>
  <div class="topmenu">
    <ul>
      <li>
        <%= link_to "Film" %>
      </li>
      <li>
        <%= link_to "My account" %>
      </li>
      <li>
        <%= link_to "Registration" %>
      </li>
    </ul>


  </div>

  <div class="login">
    <%= yield %>
  </div>

</div>

</body>
</html>
